<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    
    <title>Directive</title>
    <link rel="stylesheet" href="content/css/styles.css">
    <script src="app\lib\angular.min.js"></script>
    <script src="app\app.js"></script>
</head>
<body>
    <header ng-include="'hader.html'"></header>
    <br>
    <div class="content">

        <div ng-controller="myappcontroller">
            <input type="text" ng-model="s" placeholder="search students" >
            <ul>
                <li ng-repeat="institutes in institute | orderBy:'name' | filter:s" ng-show="institutes.available"><!--nh-hide also availevel-->
                    {{institutes.name +" "+ institutes.course | uppercase}} - {{institutes.fees | currency}}
                </li>
                
            </ul>
        </div>
    </div>
</body>
</html>