<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    
    <title>Directive</title>
    <link rel="stylesheet" href="content/css/styles.css">
    <script src="app\lib\angular.min.js"></script>
    <script src="app\app.js"></script>
</head>
<body>
    <header ng-include="'hader.html'"></header>
    <br>
    <div class="content">

        <div ng-controller="myappcontroller">
            <button ng-click="order = 'name'">Order By Name</button>
            <button ng-click="order = 'course'">Order By Course</button>
            <input type="text" ng-model="s" placeholder="search students" >
            <ul>
                <li ng-repeat="institutes in institute | orderBy: order | filter:s" ng-show="institutes.available"><!--nh-hide also availevel-->
                    <h3>{{institutes.name +"-> "+institutes.course | uppercase}} </h3>
                    <div class="remove" ng-click="removedata(institutes)">X</div>
                    <span > {{institutes.fees | currency}} </span>
                </li>
                
            </ul>
        </div>
    </div>
</body>
</html>